doctype
html
head
  title Arrays | Cleaner development, closer interactions.
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='Creative agency in Toronto focused on building interactive solutions that follow industry trends.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='style/main.css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css' rel='stylesheet')
body
  //Image background using undervalued z-index div. 
  .landingheadimages
    img.rightHeaderImage(src='images/landingHeader/purpleright.svg')
    img.leftHeaderImage(src='images/landingHeader/orangeleft.svg')
  //Header section using overvalued z-index div absolutley positioned above the images.
  .landinghead
    .header
      .leftHeader
        .logoImg
          h3.wow.animated.fadeIn Arrays
        .sideTextDiv
          p.wow.animated.fadeIn(data-wow-delay="1s") | Creative Agency in Toronto.
      .rightHeader
        ul.menu
          li.wow.fadeIn(data-wow-delay="0.2s")
            a(href='index.html') Home
          li.wow.fadeIn(data-wow-delay="0.4s")
            a(href='#') About
          li.wow.fadeIn(data-wow-delay="0.6s")
            a(href='#') Services
          li.wow.fadeIn(data-wow-delay="0.8s")
            a(href='#') Quote
          li.wow.fadeIn(data-wow-delay="1s")
            a.contactbutton(href='#') Contact Us
    .middleSection.col-lg-12
      .col-lg-6.col-lg-offset-1.alignmentMiddleSection
        h5 INNOVATIVE SOLUTIONS FOR THE COMPANIES OF THE FUTURE
        h1 
          | Taking companies from 
          strong out where, 
          | to 
          strong out there.
        form(method='POST' action='#')
          input#email.form-control(type='email', placeholder='Let us send you our pitch.' name='email')
          input#send(type="submit" value=">")
      .col-lg-5.sectionOfCards
        .card
          img(src='images/logos/shopify2.svg')
          hr
          h4 Shopify
          h5 Partner Developers Program
          p Being part of the Shopify Partner Developers program, we're given a greater insight into the development of our clients sites. Through the program, we are able to provide swift solutions to our clients demands.
          .savingsSection
            .priceSaved
              h2 $1710
              p saved and counting.
            .buttonSection
              a(href='http://namecheap.com') 
                i.fa.fa-paper-plane
        .card.floatunder
          img(src='images/logos/namecheap.svg')
          hr
          h4 Namecheap
          h5 Reseller Partner Program
          p Forming partnerships with the largest domain and hosting providers in the world enables us to provide effective bundled pricing for our clients. 
          .savingsSection
            .priceSaved
              h2 $1340
              p saved and counting.
            .buttonSection
              a(href='#') 
                i.fa.fa-paper-plane

script(src='js/main.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js')