@import url("https://fonts.googleapis.com/css?family=Raleway:300");
.landingheadimages {
  height: 100vh;
  width: 100vw;
  background-color: #fefefe;
  position: relative;
  z-index: -1; }

.landinghead {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0; }

.rightHeaderImage {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0; }

.leftHeaderImage {
  width: 53%;
  position: absolute;
  bottom: 0; }

.header {
  width: 100%;
  z-index: 999;
  height: 70px; }
  .header .leftHeader {
    width: 40%;
    margin-left: 10%;
    height: 100%;
    float: left; }
    .header .leftHeader .logoImg {
      float: left;
      margin-top: 10px; }
    .header .leftHeader .sideTextDiv {
      float: left;
      margin-top: 10px;
      font-size: 15px;
      line-height: 70px;
      padding-left: 15px; }
  .header .rightHeader {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 17px;
    padding-right: 50px;
    font-size: 15px; }
    .header .rightHeader .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      float: right; }
      .header .rightHeader .menu li {
        float: left; }
        .header .rightHeader .menu li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none; }
        .header .rightHeader .menu li a:hover {
          text-decoration: underline; }
      .header .rightHeader .menu .contactbutton {
        border: 1px solid #ffffff;
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        margin-left: 10px; }
      .header .rightHeader .menu .contactbutton:hover {
        text-decoration: none;
        background-color: #665cd6; }

.alignmentMiddleSection {
  margin-top: 21vh; }
  .alignmentMiddleSection h5 {
    color: #B8B8BC; }
  .alignmentMiddleSection h1 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1%;
    line-height: 50px;
    font-size: 35px;
    margin-top: -1%; }

.alignmentSection {
  margin-top: 20vh;
  padding-left: 10px; }

#email {
  font-size: 16px;
  height: 50px;
  width: 80%;
  border-radius: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  float: left;
  padding-right: 50px;
  border: none; }

#send {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
  margin-left: -45px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #FFA455; }

.sectionOfCards {
  margin-top: 8vh; }
  .sectionOfCards .card {
    width: 300px;
    background-color: #fefefe;
    height: 440px;
    text-align: left;
    border-radius: 2.7px;
    -webkit-box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.35);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px; }
    .sectionOfCards .card img {
      max-width: 50%;
      margin-left: 25%;
      margin-top: 10%;
      padding-bottom: 10%;
      max-height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: -10px; }
    .sectionOfCards .card hr {
      width: 80%; }
    .sectionOfCards .card h4 {
      color: #464248;
      padding-left: 10%; }
    .sectionOfCards .card h5 {
      color: #BCBCBF;
      padding-left: 10%; }
    .sectionOfCards .card p {
      margin-left: 10%;
      padding-right: 10%; }
    .sectionOfCards .card .savingsSection {
      background-color: #E6E6EA;
      padding-top: 3%;
      padding-bottom: 5.2%;
      margin-top: 9%;
      float: left;
      width: 100%; }
      .sectionOfCards .card .savingsSection .priceSaved {
        width: 60%;
        float: left;
        padding-left: 5%; }
        .sectionOfCards .card .savingsSection .priceSaved h2 {
          padding-left: 10%;
          color: #5A6FD9; }
        .sectionOfCards .card .savingsSection .priceSaved p {
          margin-top: -2.5%; }
      .sectionOfCards .card .savingsSection .buttonSection {
        width: 40%;
        float: left;
        padding-top: 10%;
        padding-left: 10%; }
        .sectionOfCards .card .savingsSection .buttonSection a {
          border-radius: 50%;
          padding-top: 22.5px;
          padding-bottom: 15px;
          padding-right: 11px;
          padding-left: 13.5px;
          background-color: #FAF9FE;
          border: 1px solid #EDEDFB; }
          .sectionOfCards .card .savingsSection .buttonSection a i {
            font-size: 25px;
            color: #4839E6;
            padding-top: 5px;
            padding-right: 5px; }
        .sectionOfCards .card .savingsSection .buttonSection a:hover {
          background-color: #4839e6; }
          .sectionOfCards .card .savingsSection .buttonSection a:hover i {
            color: #fefefe; }

.floatunder {
  margin-left: -30%;
  z-index: -25; }

@media screen and (max-width: 1250px) {
  .sectionOfCards {
    display: none; } }
